# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Database
database/

# Environment Variables
.env

# Google Cloud Service Account Key
key.json

# VS Code
.vscode/

# OS Files
Thumbs.db
.DS_Store