<!DOCTYPE html>
<html>

<head>
    <title>Employee Management System</title>
</head>

<body>

<hr>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search employee by name">

    <button type="submit">
        Search
    </button>

</form>

<br>
    <h1>{{ app_name }}</h1>

        <p><strong>Company:</strong> {{ company }}</p>

        <p><strong>Environment:</strong> {{ environment }}</p>

        <form action="/add" method="POST">

        <p>Name</p>
        <input type="text" name="name" required>

        <p>Email</p>
        <input type="email" name="email" required>

        <p>Department</p>
        <input type="text" name="department" required>

        <p>Salary</p>
        <input type="number" name="salary" required>

        <br><br>

        <button type="submit">
            Add Employee
        </button>

    </form>

    <hr>

    <h2>Employee List</h2>

    <table border="1" cellpadding="8">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>

        {% for employee in employees %}

        <tr>
            <td>{{ employee[0] }}</td>
            <td>{{ employee[1] }}</td>
            <td>{{ employee[2] }}</td>
            <td>{{ employee[3] }}</td>
            <td>{{ employee[4] }}</td>

<td>
    <a href="/edit/{{ employee[0] }}">Edit</a> |

    <a href="/delete/{{ employee[0] }}"
       onclick="return confirm('Delete this employee?')">
        Delete
    </a>
</td>
        </tr>

        {% endfor %}

    </table>

</body>

</html>